argparse
os
Flask
requests
google-generativeai
chromadb
sentence-transformers
tqdm
pdfplumber
python-pptx
Pillow
pytesseract
platform
flask-cors
transformers
warnings
json
collections
opencv-python
numpy
pdf2image
re
